# LLM Config
LLM_MODEL=llm_model
BASE_URL=your_base_url
API_KEY=your_api_key

# Embedding Model
BERT_MODEL_NAME=paraphrase-multilingual-MiniLM-L12-v2

# 
LOCAL_HOST=local_host
POST_URL=post_url
SECRET_KEY=secret_key
PASSWORD=password
ALGORITHM=algorithm

# USER 数据库
USER_DATABASE_URL=database_url

# 存储音乐数据库 URL
MUSIC_DATABASE_URL=databse_url